@import "./variables.scss";


.premierBloc{
    height: 100px;
    margin-bottom: 50px;
    .title h1{

        margin-top: 25px;
        margin-bottom: 0px;
        font-size: 36px;
    }
    .title p{
        margin: 0px;
    }
    .tags{
        display: flex;
        flex-direction: row;
    }
    .tags p {
        color: white;
background-color: #FF6060;
width: 130px;
border-radius: 10px;
text-align: center;
padding-top: 4px;
padding-bottom: 4px;
margin-right: 10px;
font-size: 12px;
        }
}


.deuxiemeBloc{
    height: 100px;
    .host{
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        padding-right: 5px;
        font-size: 20px;
    }
    
    .host p {
        margin-top: 40px;
        padding-right: 10px;
    }
    .host img {
        margin-top: 20px;
        height: 60px;
        border-radius: 50%;
    }
    .rating{
        text-align: right;
    }
    .topink
    {
        padding-top: 17px;
        color: $colour-primaire;
    }
    .togrey
    {
        padding-top: 17px;
        color: grey
    }
}
   

.DescriEquip{

    margin-top: 40px;
    min-height: 300px;
    
    .WrapDiv{
        width: 48%;
        
    }
    .containerdefil{
        position: relative;
        background-color: $colour-primaire;
        border-radius: 10px;
        
    }
    .containerdefil h2{
        color: white;
        padding-top: 5px;
        padding-left: 15px;
        margin: 0;
    }
    .content{
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s cubic-bezier(0,1,0,1);

    }
    .test{
        height: 400px;
    }
    
    .content.show {
        max-height: 9999px;
        transition: all 0.5s cubic-bezier(0,1,0,1);
        background-color: #F6F6F6;
        margin-top: -5px;
        border-radius: 0px 0px 10px 10px;

    }

    .BulleDescriEquip{
        padding-bottom: 5px;
        
    }
    .BulleDescriEquip p{
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
        
    }
    .icone{
        color: white;
        padding-top: 3px;
        padding-right: 15px;
        font-size: 35px;
    }

}



