@media only screen and (max-width: 599px){

    .DescriEquip{
       flex-direction: column;
       justify-content: space-around;

       .WrapDiv{
        width: 100%;
       }

    }


    .Apropos{
        .bulle h2 {
            font-size: 15px;
            padding-top: 10px;
        }
    }

    .erreur {
        h2 {
            font-size: 150px;
        }
        p{
            font-size: 30px;
        }
    }

    .slider {
        .image{
            height: 300px;
        }
        .fleche{
            top:45%;
            height:  20px;
        }
        .compteur{
            display: none;
            top: 75%;
        }

    }


    .SectionTitre h1 {
        font-size: 22px;
        padding-top: 80px;
    }

    .DescriEquip{
        .containerdefil h2{
            padding-top: 5px;
            font-size: 15px;
        }
        .icone{
            font-size: 25px;
        }
    }

    .Header{

        .Kasa {
            width: 101px;
        }

        .Kasa img {
            width: 100px;
        }

        .Hlink{
            width: 230px;
            height: 35px;
        }

        .Hlink a{
            text-align: center;
            padding-top: 10px;
            font-size: 20px;
        }
    }
    
    .Gallery {
        .boiteGallery{
            width: 90%;
        }
    }


   

}
